<div class="row">
  <div class="span12">
    <p>It would appear you've not authenticated with Github. <a href="<%= @auth_url %>">You should fix that</a>.</p>
    <p><b>Note:</b> Github will tell you that this app has permission to update your public and private repositories. This level of permission is needed purely so we can show all issues from your private repositories too. This app is <b>entirely read-only</b> and will <b>never update anything on your Github profile</b>.</p>
    <p>Feel free to <a href="https://github.com/jackfranklin/githubissuebrowser">check out the source code</a>.</p>
    <p>Another thing by <a href="http://jackfranklin.co.uk">Jack Franklin</a>.</p>
  </div>
</div>
