<div class="row">
  <div class="span12">
    <p>Stuck on what to work on? Filter your Github issues to find something that takes your fancy.</p>
    <p><a href="<%= @auth_url %>" class="btn btn-primary">Authenticate with Github</a></p>
    <p><b>Note:</b> Github will tell you that this app has permission to update your public repositories. This is because Github's API only seems to give access to all issues with that level of permissions. This app is <b>entirely read-only</b> and will <b>never update anything on your Github profile</b>. It also <b>cannot access private repositories</b>.</p>
    <p>Feel free to <a href="https://github.com/jackfranklin/githubissuebrowser">check out the source code</a>.</p>
    <p>Another thing by <a href="http://jackfranklin.co.uk">Jack Franklin</a>. Bugs or feature ideas? <a href="https://github.com/jackfranklin/githubissuebrowser/issues">Tell me!</a>.</p>
  </div>
</div>
