<!DOCTYPE html>
<html>
<head>
  <title>Github Issues Viewer</title>
  <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
  <h1>Github Issues</h1>
  <%= yield %>
</div>
</body>
</html>
